
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beneficiary]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiary](
	[BeneficiaryId] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[IDNumber] [nvarchar](20) NOT NULL,
	[Relationship] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[PolicyId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Beneficiary] PRIMARY KEY CLUSTERED 
(
	[BeneficiaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeneficiaryRequest]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeneficiaryRequest](
	[RequestId] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[PolicyId] [nvarchar](450) NOT NULL,
	[RequestType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[BeneficiaryId] [nvarchar](450) NULL,
	[FullName] [nvarchar](max) NULL,
	[Relationship] [int] NOT NULL,
	[IDNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_BeneficiaryRequest] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingRestriction]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingRestriction](
	[RestrictionId] [nvarchar](450) NOT NULL,
	[MaxDailyBookings] [int] NOT NULL,
	[MinAdvanceBookingDays] [int] NOT NULL,
	[EventStartTime] [time](7) NOT NULL,
	[EventEndTime] [time](7) NOT NULL,
 CONSTRAINT [PK_BookingRestriction] PRIMARY KEY CLUSTERED 
(
	[RestrictionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[BranchId] [nvarchar](450) NOT NULL,
	[BranchName] [nvarchar](max) NOT NULL,
	[ContactNo] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangePackageRequest]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangePackageRequest](
	[RequestId] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[NewPackageId] [nvarchar](450) NOT NULL,
	[Status] [int] NOT NULL,
	[ClientId] [nvarchar](max) NOT NULL,
	[PolicyId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_ChangePackageRequest] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientId] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deceased]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deceased](
	[DeceasedId] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[IDNumber] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[DateOfDeath] [datetime2](7) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[CauseOfDeath] [nvarchar](max) NULL,
	[PolicyId] [nvarchar](max) NOT NULL,
	[IsReleased] [bit] NOT NULL,
 CONSTRAINT [PK_Deceased] PRIMARY KEY CLUSTERED 
(
	[DeceasedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeceasedStorage]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeceasedStorage](
	[AssignmentId] [nvarchar](450) NOT NULL,
	[StorageId] [nvarchar](450) NOT NULL,
	[DeceasedId] [nvarchar](450) NOT NULL,
	[DateAssigned] [datetime2](7) NOT NULL,
	[DateRemoved] [datetime2](7) NULL,
 CONSTRAINT [PK_DeceasedStorage] PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventId] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[EventType] [int] NOT NULL,
	[EventDate] [datetime2](7) NOT NULL,
	[Venue] [nvarchar](250) NULL,
	[ClientId] [nvarchar](450) NULL,
	[DeceasedId] [nvarchar](450) NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventUser]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventUser](
	[EventId] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_EventUser] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceId] [nvarchar](450) NOT NULL,
	[InvoiceRef] [nvarchar](max) NOT NULL,
	[InvoiceDate] [date] NOT NULL,
	[PdfPath] [nvarchar](max) NOT NULL,
	[PaymentId] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Package]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package](
	[PackageId] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[MonthlyPremium] [float] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[MaxBeneficiaries] [int] NOT NULL,
 CONSTRAINT [PK_Package] PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [nvarchar](450) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[Method] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[PolicyId] [nvarchar](450) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[PaymentMethodId] [nvarchar](450) NOT NULL,
	[Method] [int] NOT NULL,
	[AccountReference] [nvarchar](max) NULL,
	[IsDefault] [bit] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policy]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policy](
	[PolicyId] [nvarchar](450) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[PackageId] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Policy] PRIMARY KEY CLUSTERED 
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [nvarchar](450) NOT NULL,
	[StaffRole] [nvarchar](max) NOT NULL,
	[HireDate] [datetime2](7) NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[IsCovered] [bit] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[BranchId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StorageUnit]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageUnit](
	[StorageId] [nvarchar](450) NOT NULL,
	[UnitNumber] [nvarchar](max) NOT NULL,
	[BranchId] [nvarchar](max) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_StorageUnit] PRIMARY KEY CLUSTERED 
(
	[StorageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskId] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[ProofImagePath] [nvarchar](max) NULL,
	[AssignedToId] [nvarchar](450) NOT NULL,
	[PolicyId] [nvarchar](450) NULL,
	[DeceasedId] [nvarchar](450) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026/08/12 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[IDNumber] [nvarchar](max) NOT NULL,
	[CellNo] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastLogin] [datetime2](7) NULL,
	[MustChangePassword] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260709191319_InitialCreate', N'10.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260714213646_RenamePasswordToPasswordHash', N'10.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260716225358_AddedTaskAndSchedulingManagement', N'10.0.8')
GO
INSERT [dbo].[Beneficiary] ([BeneficiaryId], [FullName], [IDNumber], [Relationship], [Status], [PolicyId]) VALUES (N'BEN001', N'Mary Smith', N'9001010000001', 2, 1, N'POL001')
INSERT [dbo].[Beneficiary] ([BeneficiaryId], [FullName], [IDNumber], [Relationship], [Status], [PolicyId]) VALUES (N'BEN002', N'Peter Smith', N'9202020000002', 3, 1, N'POL001')
INSERT [dbo].[Beneficiary] ([BeneficiaryId], [FullName], [IDNumber], [Relationship], [Status], [PolicyId]) VALUES (N'BEN003', N'Grace Smith', N'9403030000003', 5, 1, N'POL001')
GO
INSERT [dbo].[BeneficiaryRequest] ([RequestId], [UserId], [PolicyId], [RequestType], [Status], [RequestDate], [Description], [BeneficiaryId], [FullName], [Relationship], [IDNumber]) VALUES (N'BRQ001', N'USR001', N'POL001', 1, 0, CAST(N'2026-03-05T09:30:00.0000000' AS DateTime2), N'Beneficiary and I have cut ties.', N'BEN002', NULL, 0, NULL)
INSERT [dbo].[BeneficiaryRequest] ([RequestId], [UserId], [PolicyId], [RequestType], [Status], [RequestDate], [Description], [BeneficiaryId], [FullName], [Relationship], [IDNumber]) VALUES (N'BRQ002', N'USR001', N'POL002', 1, 0, CAST(N'2026-03-08T14:15:00.0000000' AS DateTime2), N'Beneficiary no longer requires cover.', N'BEN007', NULL, 0, NULL)
GO
INSERT [dbo].[BookingRestriction] ([RestrictionId], [MaxDailyBookings], [MinAdvanceBookingDays], [EventStartTime], [EventEndTime]) VALUES (N'1', 5, 2, CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time))
GO
INSERT [dbo].[Branch] ([BranchId], [BranchName], [ContactNo], [Email], [Address]) VALUES (N'BRC001', N'Johannesburg Central', N'0115551001', N'jhb.central@legacycare.com', N'15 Commissioner street, Johannesburg')
INSERT [dbo].[Branch] ([BranchId], [BranchName], [ContactNo], [Email], [Address]) VALUES (N'BRC002', N'Pretoria North', N'0125551002', N'pta.north@legacycare.com', N'22 Church Square, Pretoria')
INSERT [dbo].[Branch] ([BranchId], [BranchName], [ContactNo], [Email], [Address]) VALUES (N'BRC003', N'Durban Coastal', N'0315551003', N'dbn.coastal@legacycare.com', N'45 Marine Parade, Durban')
GO
INSERT [dbo].[Client] ([ClientId], [UserId]) VALUES (N'5', N'3a262e7e-ecd8-4a85-a094-bbecacfd8413')
INSERT [dbo].[Client] ([ClientId], [UserId]) VALUES (N'3', N'7579de2e-ee74-4fa2-89cc-c62efe36e899')
INSERT [dbo].[Client] ([ClientId], [UserId]) VALUES (N'2', N'8afddb5e-bb90-4b48-81a4-4db2b17cccad')
GO
INSERT [dbo].[Deceased] ([DeceasedId], [FullName], [IDNumber], [DateOfBirth], [DateOfDeath], [Gender], [CauseOfDeath], [PolicyId], [IsReleased]) VALUES (N'DEC001', N'Thandi Nkosi', N'9205050000005', CAST(N'1992-05-05T00:00:00.0000000' AS DateTime2), CAST(N'2026-02-27T00:00:00.0000000' AS DateTime2), N'Female', N'Natural Causes', N'POL002', 0)
INSERT [dbo].[Deceased] ([DeceasedId], [FullName], [IDNumber], [DateOfBirth], [DateOfDeath], [Gender], [CauseOfDeath], [PolicyId], [IsReleased]) VALUES (N'DEC002', N'James Brown', N'9602020000014', CAST(N'1996-02-02T00:00:00.0000000' AS DateTime2), CAST(N'2026-02-28T00:00:00.0000000' AS DateTime2), N'Male', N'Cardiac Arrest', N'POL004', 0)
INSERT [dbo].[Deceased] ([DeceasedId], [FullName], [IDNumber], [DateOfBirth], [DateOfDeath], [Gender], [CauseOfDeath], [PolicyId], [IsReleased]) VALUES (N'DEC003', N'Thabo Dlamini', N'0309090000021', CAST(N'2003-09-09T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-01T00:00:00.0000000' AS DateTime2), N'Male', N'Road Accident', N'POL005', 0)
GO
INSERT [dbo].[DeceasedStorage] ([AssignmentId], [StorageId], [DeceasedId], [DateAssigned], [DateRemoved]) VALUES (N'1', N'STR001', N'DEC001', CAST(N'2026-02-28T08:30:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[DeceasedStorage] ([AssignmentId], [StorageId], [DeceasedId], [DateAssigned], [DateRemoved]) VALUES (N'2', N'STR002', N'DEC002', CAST(N'2026-03-01T09:15:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[DeceasedStorage] ([AssignmentId], [StorageId], [DeceasedId], [DateAssigned], [DateRemoved]) VALUES (N'3', N'STR003', N'DEC003', CAST(N'2026-03-02T10:00:00.0000000' AS DateTime2), NULL)
GO
INSERT [dbo].[Event] ([EventId], [Title], [Description], [EventType], [EventDate], [Venue], [ClientId], [DeceasedId], [Status], [CreatedDate]) VALUES (N'EVE001', N'Staff Meeting', N'Monthly staff meeting to discuss operations.', 3, CAST(N'2026-03-01T09:00:00.0000000' AS DateTime2), NULL, NULL, NULL, 1, CAST(N'2026-02-22T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Event] ([EventId], [Title], [Description], [EventType], [EventDate], [Venue], [ClientId], [DeceasedId], [Status], [CreatedDate]) VALUES (N'EVE002', N'Policy Consultation', N'Policy consultation appointment.', 0, CAST(N'2026-03-02T10:00:00.0000000' AS DateTime2), N'Johannesburg Branch', N'USR001', NULL, 1, CAST(N'2026-02-23T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Event] ([EventId], [Title], [Description], [EventType], [EventDate], [Venue], [ClientId], [DeceasedId], [Status], [CreatedDate]) VALUES (N'EVE003', N'Memorial Service', N'Memorial service for the deceased.', 2, CAST(N'2026-03-08T14:00:00.0000000' AS DateTime2), N'Memorial Hall A, Johannesburg', N'USR001', N'DEC001', 1, CAST(N'2026-03-01T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[EventUser] ([EventId], [UserId]) VALUES (N'EVE002', N'USR013')
INSERT [dbo].[EventUser] ([EventId], [UserId]) VALUES (N'EVE003', N'USR013')
INSERT [dbo].[EventUser] ([EventId], [UserId]) VALUES (N'EVE005', N'USR013')
GO
INSERT [dbo].[Package] ([PackageId], [Name], [MonthlyPremium], [Description], [MaxBeneficiaries]) VALUES (N'1ea3b245-90cb-464f-b497-69429509fc81', N'Gold', 400, N'Gold funeral package', 10)
INSERT [dbo].[Package] ([PackageId], [Name], [MonthlyPremium], [Description], [MaxBeneficiaries]) VALUES (N'8e186be4-4a13-4330-b7c4-bf1601b0a03c', N'Silver', 250, N'Silver funeral package', 6)
INSERT [dbo].[Package] ([PackageId], [Name], [MonthlyPremium], [Description], [MaxBeneficiaries]) VALUES (N'a1b3495a-0d88-437f-870d-7bdc52499d86', N'Platinum', 650, N'Premium funeral package', 15)
GO
INSERT [dbo].[Payment] ([PaymentId], [Amount], [PaymentDate], [Method], [Status], [PolicyId], [DueDate]) VALUES (N'ac882d08-7b9e-4481-a1d1-e6bd08bbccb5', CAST(150.00 AS Decimal(18, 2)), CAST(N'2026-05-30T11:07:26.9062437' AS DateTime2), 1, 1, N'e76cf84d-b92d-4224-b5f8-06963062da15', CAST(N'2026-06-30T11:07:26.9062486' AS DateTime2))
INSERT [dbo].[Payment] ([PaymentId], [Amount], [PaymentDate], [Method], [Status], [PolicyId], [DueDate]) VALUES (N'be6cc21e-6221-4191-bd2d-bdfc3a6fc157', CAST(150.00 AS Decimal(18, 2)), CAST(N'2026-06-30T11:07:26.9064557' AS DateTime2), 1, 1, N'e76cf84d-b92d-4224-b5f8-06963062da15', CAST(N'2026-07-30T11:07:26.9064559' AS DateTime2))
INSERT [dbo].[Payment] ([PaymentId], [Amount], [PaymentDate], [Method], [Status], [PolicyId], [DueDate]) VALUES (N'dbb48123-ef8a-418c-8c84-ee3b58a1af35', CAST(150.00 AS Decimal(18, 2)), CAST(N'2026-07-30T11:07:26.9064582' AS DateTime2), 1, 0, N'e76cf84d-b92d-4224-b5f8-06963062da15', CAST(N'2026-08-30T11:07:26.9064583' AS DateTime2))
GO
INSERT [dbo].[Policy] ([PolicyId], [StartDate], [EndDate], [PackageId], [UserId], [Status]) VALUES (N'e76cf84d-b92d-4224-b5f8-06963062da15', CAST(N'2026-07-30T11:07:26.5687078' AS DateTime2), NULL, N'1ea3b245-90cb-464f-b497-69429509fc81', N'3a262e7e-ecd8-4a85-a094-bbecacfd8413', 2)
INSERT [dbo].[Policy] ([PolicyId], [StartDate], [EndDate], [PackageId], [UserId], [Status]) VALUES (N'POL001', CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), NULL, N'PKG001', N'USR001', 1)
INSERT [dbo].[Policy] ([PolicyId], [StartDate], [EndDate], [PackageId], [UserId], [Status]) VALUES (N'POL002', CAST(N'2026-02-01T00:00:00.0000000' AS DateTime2), NULL, N'PKG002', N'USR001', 1)
GO
INSERT [dbo].[Staff] ([StaffId], [StaffRole], [HireDate], [Salary], [IsCovered], [UserId], [BranchId]) VALUES (N'STA001', N'Clerk', CAST(N'2025-01-13T00:00:00.0000000' AS DateTime2), CAST(18000.00 AS Decimal(18, 2)), 1, N'USR013', N'BRC001')
INSERT [dbo].[Staff] ([StaffId], [StaffRole], [HireDate], [Salary], [IsCovered], [UserId], [BranchId]) VALUES (N'STA002', N'Clerk', CAST(N'2025-01-14T00:00:00.0000000' AS DateTime2), CAST(18000.00 AS Decimal(18, 2)), 1, N'USR014', N'BRC001')
INSERT [dbo].[Staff] ([StaffId], [StaffRole], [HireDate], [Salary], [IsCovered], [UserId], [BranchId]) VALUES (N'STA003', N'Clerk', CAST(N'2025-01-15T00:00:00.0000000' AS DateTime2), CAST(18000.00 AS Decimal(18, 2)), 1, N'USR015', N'BRC001')
GO
INSERT [dbo].[StorageUnit] ([StorageId], [UnitNumber], [BranchId], [IsAvailable]) VALUES (N'STR001', N'1', N'1', 0)
INSERT [dbo].[StorageUnit] ([StorageId], [UnitNumber], [BranchId], [IsAvailable]) VALUES (N'STR002', N'2', N'1', 0)
INSERT [dbo].[StorageUnit] ([StorageId], [UnitNumber], [BranchId], [IsAvailable]) VALUES (N'STR003', N'3', N'1', 0)
GO
INSERT [dbo].[Task] ([TaskId], [Title], [Description], [StartDate], [DueDate], [Status], [ProofImagePath], [AssignedToId], [PolicyId], [DeceasedId], [CreatedDate]) VALUES (N'TSK001', N'Attend Appointment', N'Policy Consultation with client', CAST(N'2026-03-02T10:00:00.0000000' AS DateTime2), CAST(N'2026-03-02T11:30:00.0000000' AS DateTime2), 0, NULL, N'USR013', N'POL001', NULL, CAST(N'2026-03-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Task] ([TaskId], [Title], [Description], [StartDate], [DueDate], [Status], [ProofImagePath], [AssignedToId], [PolicyId], [DeceasedId], [CreatedDate]) VALUES (N'TSK002', N'Attend Appointment', N'Beneficiary Update meeting', CAST(N'2026-03-04T11:30:00.0000000' AS DateTime2), CAST(N'2026-03-04T13:00:00.0000000' AS DateTime2), 2, NULL, N'USR013', N'POL002', NULL, CAST(N'2026-03-03T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Task] ([TaskId], [Title], [Description], [StartDate], [DueDate], [Status], [ProofImagePath], [AssignedToId], [PolicyId], [DeceasedId], [CreatedDate]) VALUES (N'TSK003', N'Attend Appointment', N'Claim Enquiry consultation', CAST(N'2026-03-06T15:00:00.0000000' AS DateTime2), CAST(N'2026-03-06T16:00:00.0000000' AS DateTime2), 1, N'appointment3.jpg', N'USR013', N'POL003', NULL, CAST(N'2026-03-05T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IDNumber], [CellNo], [Address], [DateCreated], [IsActive], [LastLogin], [MustChangePassword]) VALUES (N'3a262e7e-ecd8-4a85-a094-bbecacfd8413', N'FIVESAAA', N'mkay@gmail.com', N'AQAAAAIAAYagAAAAEFqvVsWUn37FCHh+1V+nxVOjmt/1GJNF44lZqkDiYPKyf03pgmFTHm0QHTx9QebHgg==', N'Client', N'9709055905009', N'0817381255', N'F33332', CAST(N'2026-07-30T06:46:15.1026255' AS DateTime2), 0, NULL, 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IDNumber], [CellNo], [Address], [DateCreated], [IsActive], [LastLogin], [MustChangePassword]) VALUES (N'7579de2e-ee74-4fa2-89cc-c62efe36e899', N'StarringHHHHH', N'mkaykwenz5@gmail.com', N'AQAAAAIAAYagAAAAEPCWzeRPHbqZsHdyp11QoaTvDa50L4hP7XaJKMox1xE5mwIrkSms8f1484Y2+NNX5Q==', N'Client', N'9009055905082', N'0817381239', N'BHFHF', CAST(N'2026-07-30T05:51:45.5712660' AS DateTime2), 0, NULL, 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IDNumber], [CellNo], [Address], [DateCreated], [IsActive], [LastLogin], [MustChangePassword]) VALUES (N'8afddb5e-bb90-4b48-81a4-4db2b17cccad', N'Starring', N'mkaykwenza05@gmail.com', N'AQAAAAIAAYagAAAAEJteHky5uE9f9w3Q06A6d2708dyjjEUPxw3yXqPjL2dcCB/mZNpRS6ST1aXCET+AcA==', N'Client', N'9709055905082', N'0817381234', N'F1354', CAST(N'2026-07-30T03:45:25.1968137' AS DateTime2), 0, NULL, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Beneficiary_PolicyId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_Beneficiary_PolicyId] ON [dbo].[Beneficiary]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BeneficiaryRequest_BeneficiaryId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_BeneficiaryRequest_BeneficiaryId] ON [dbo].[BeneficiaryRequest]
(
	[BeneficiaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BeneficiaryRequest_PolicyId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_BeneficiaryRequest_PolicyId] ON [dbo].[BeneficiaryRequest]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BeneficiaryRequest_UserId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_BeneficiaryRequest_UserId] ON [dbo].[BeneficiaryRequest]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChangePackageRequest_NewPackageId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_ChangePackageRequest_NewPackageId] ON [dbo].[ChangePackageRequest]
(
	[NewPackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChangePackageRequest_PolicyId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_ChangePackageRequest_PolicyId] ON [dbo].[ChangePackageRequest]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChangePackageRequest_UserId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_ChangePackageRequest_UserId] ON [dbo].[ChangePackageRequest]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Client_UserId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_Client_UserId] ON [dbo].[Client]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DeceasedStorage_DeceasedId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_DeceasedStorage_DeceasedId] ON [dbo].[DeceasedStorage]
(
	[DeceasedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DeceasedStorage_StorageId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_DeceasedStorage_StorageId] ON [dbo].[DeceasedStorage]
(
	[StorageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Event_ClientId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_Event_ClientId] ON [dbo].[Event]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Event_DeceasedId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_Event_DeceasedId] ON [dbo].[Event]
(
	[DeceasedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EventUser_UserId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_EventUser_UserId] ON [dbo].[EventUser]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Invoice_PaymentId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_Invoice_PaymentId] ON [dbo].[Invoice]
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Invoice_UserId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_Invoice_UserId] ON [dbo].[Invoice]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payment_PolicyId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_Payment_PolicyId] ON [dbo].[Payment]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentMethod_UserId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_PaymentMethod_UserId] ON [dbo].[PaymentMethod]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Policy_PackageId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_Policy_PackageId] ON [dbo].[Policy]
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Policy_UserId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_Policy_UserId] ON [dbo].[Policy]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Staff_BranchId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_Staff_BranchId] ON [dbo].[Staff]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Staff_UserId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_Staff_UserId] ON [dbo].[Staff]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Task_AssignedToId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_Task_AssignedToId] ON [dbo].[Task]
(
	[AssignedToId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Task_DeceasedId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_Task_DeceasedId] ON [dbo].[Task]
(
	[DeceasedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Task_PolicyId]    Script Date: 2026/08/12 18:07:08 ******/
CREATE NONCLUSTERED INDEX [IX_Task_PolicyId] ON [dbo].[Task]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BeneficiaryRequest] ADD  DEFAULT ((0)) FOR [Relationship]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DueDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [MustChangePassword]
GO
ALTER TABLE [dbo].[Beneficiary]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiary_Policy_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policy] ([PolicyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Beneficiary] CHECK CONSTRAINT [FK_Beneficiary_Policy_PolicyId]
GO
ALTER TABLE [dbo].[BeneficiaryRequest]  WITH CHECK ADD  CONSTRAINT [FK_BeneficiaryRequest_Beneficiary_BeneficiaryId] FOREIGN KEY([BeneficiaryId])
REFERENCES [dbo].[Beneficiary] ([BeneficiaryId])
GO
ALTER TABLE [dbo].[BeneficiaryRequest] CHECK CONSTRAINT [FK_BeneficiaryRequest_Beneficiary_BeneficiaryId]
GO
ALTER TABLE [dbo].[BeneficiaryRequest]  WITH CHECK ADD  CONSTRAINT [FK_BeneficiaryRequest_Policy_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policy] ([PolicyId])
GO
ALTER TABLE [dbo].[BeneficiaryRequest] CHECK CONSTRAINT [FK_BeneficiaryRequest_Policy_PolicyId]
GO
ALTER TABLE [dbo].[BeneficiaryRequest]  WITH CHECK ADD  CONSTRAINT [FK_BeneficiaryRequest_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[BeneficiaryRequest] CHECK CONSTRAINT [FK_BeneficiaryRequest_Users_UserId]
GO
ALTER TABLE [dbo].[ChangePackageRequest]  WITH CHECK ADD  CONSTRAINT [FK_ChangePackageRequest_Package_NewPackageId] FOREIGN KEY([NewPackageId])
REFERENCES [dbo].[Package] ([PackageId])
GO
ALTER TABLE [dbo].[ChangePackageRequest] CHECK CONSTRAINT [FK_ChangePackageRequest_Package_NewPackageId]
GO
ALTER TABLE [dbo].[ChangePackageRequest]  WITH CHECK ADD  CONSTRAINT [FK_ChangePackageRequest_Policy_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policy] ([PolicyId])
GO
ALTER TABLE [dbo].[ChangePackageRequest] CHECK CONSTRAINT [FK_ChangePackageRequest_Policy_PolicyId]
GO
ALTER TABLE [dbo].[ChangePackageRequest]  WITH CHECK ADD  CONSTRAINT [FK_ChangePackageRequest_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ChangePackageRequest] CHECK CONSTRAINT [FK_ChangePackageRequest_Users_UserId]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Users_UserId]
GO
ALTER TABLE [dbo].[DeceasedStorage]  WITH CHECK ADD  CONSTRAINT [FK_DeceasedStorage_Deceased_DeceasedId] FOREIGN KEY([DeceasedId])
REFERENCES [dbo].[Deceased] ([DeceasedId])
GO
ALTER TABLE [dbo].[DeceasedStorage] CHECK CONSTRAINT [FK_DeceasedStorage_Deceased_DeceasedId]
GO
ALTER TABLE [dbo].[DeceasedStorage]  WITH CHECK ADD  CONSTRAINT [FK_DeceasedStorage_StorageUnit_StorageId] FOREIGN KEY([StorageId])
REFERENCES [dbo].[StorageUnit] ([StorageId])
GO
ALTER TABLE [dbo].[DeceasedStorage] CHECK CONSTRAINT [FK_DeceasedStorage_StorageUnit_StorageId]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Deceased_DeceasedId] FOREIGN KEY([DeceasedId])
REFERENCES [dbo].[Deceased] ([DeceasedId])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Deceased_DeceasedId]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Users_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Users_ClientId]
GO
ALTER TABLE [dbo].[EventUser]  WITH CHECK ADD  CONSTRAINT [FK_EventUser_Event_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventUser] CHECK CONSTRAINT [FK_EventUser_Event_EventId]
GO
ALTER TABLE [dbo].[EventUser]  WITH CHECK ADD  CONSTRAINT [FK_EventUser_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[EventUser] CHECK CONSTRAINT [FK_EventUser_Users_UserId]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Payment_PaymentId] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payment] ([PaymentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Payment_PaymentId]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Users_UserId]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Policy_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policy] ([PolicyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Policy_PolicyId]
GO
ALTER TABLE [dbo].[PaymentMethod]  WITH CHECK ADD  CONSTRAINT [FK_PaymentMethod_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentMethod] CHECK CONSTRAINT [FK_PaymentMethod_Users_UserId]
GO
ALTER TABLE [dbo].[Policy]  WITH CHECK ADD  CONSTRAINT [FK_Policy_Package_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package] ([PackageId])
GO
ALTER TABLE [dbo].[Policy] CHECK CONSTRAINT [FK_Policy_Package_PackageId]
GO
ALTER TABLE [dbo].[Policy]  WITH CHECK ADD  CONSTRAINT [FK_Policy_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Policy] CHECK CONSTRAINT [FK_Policy_Users_UserId]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Branch_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([BranchId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Branch_BranchId]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Users_UserId]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Deceased_DeceasedId] FOREIGN KEY([DeceasedId])
REFERENCES [dbo].[Deceased] ([DeceasedId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Deceased_DeceasedId]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Policy_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policy] ([PolicyId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Policy_PolicyId]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Users_AssignedToId] FOREIGN KEY([AssignedToId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Users_AssignedToId]
GO

